<style>
    .gem-ion-content .fluid-image, .fluid-image, .fluid {width: 100%;}
</style>
<ion-view title="About Us">
    <!-- ======================
    GEMIONIC CONTENT
    ====================== -->

    <ion-content class="gem-ion-content single-post">
        <!-- Post media (sidebar button, picture, tags, and title) -->
<div class="card">
            <!-- post image -->
            <img src="img/company_logo.png" alt="" class="fluid-image">

            <!-- Post title -->
        <div class="card">
            <h3 class="post-title">Developed by: SunflowerIT</h3>
        </div>
        <div class="gem-post-content">
            <div class="card">
            <p style="text-align: center;">Take time today, to save time tomorrow </p>
            </div>
         </div>
</div>
    </ion-content>
</ion-view>

