<!--<ion-view view-title="Forgot Password" align-title="left">-->
<style type="text/css">
.spinner svg {
  width: 60px;
  height: 50px;
  stroke: #F44336;
  fill: #444;
}
</style>


<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content 

        style="
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(img/login.jpg) center; 
            background-size: cover; 
            filter: gray; 
            filter: grayscale(1);
            -webkit-filter: grayscale(0.1);" ng-class="{expanded:$scope.isExpanded}">

        <div class="hero slide-up " >
            <div class="content">
                <div class="avatar" style="background-image: url('img/logo.jpg');"></div>
                <h3><a class="light">Flamex Petroleum</a></h3>
                <p></p>

            </div>
        </div> 

<div ng-show="showspiner && !loginErrorText" style=" margin:5% auto; background:#ffffff; width:80px; padding:5px; height:80px; border-radius:15px;"><ion-spinner></ion-spinner>
</div>

<div ng-show="!showspiner">
        <form >

        <div class="col-75"style="background:#fff; margin:5% auto; height:auto; border-radius:3px;">
           <div class="list col-80" style="margin:auto; ">

            <p style="margin-top:10px; color:#c00;">{{loginErrorText}}</p>
            <label class="item item-input item-floating-label input-calm">
                <span class="input-label"><b>Host</b></span>
                <input type="text" name="host" ng-model="host" placeholder="Host ">
            </label>
            <label class="item item-input item-floating-label input-calm">     
                <span class="input-label"><b>Database</b></span>
                <input type="text" name="database" ng-model="database" placeholder="Database name">
            </label>
            <label class="item item-input item-floating-label input-calm">     
                <span class="input-label"><b>Username</b></span>
                <input type="text" name="username" ng-model="username" placeholder="Email Address">
            </label>
            <label class="item item-input item-floating-label input-calm">
                <span class="input-label"><b>Password</b></span>
                <input type="password" name="password" ng-model="password" placeholder="PIN">
            </label>
           </div>
        </div>

        <div class="list col-75" style="margin:auto; "> 
            <a ng-click="connect(database, username, password)" class="button button-full button-assertive ink">Login </a>
        </form>
            <a href="#app/recover_password" style="color:#fff; text-decoration:none; float:left;">Forgot Password?</a>
            <!--<a href="#app/signup" style="color:#fff; text-decoration:none; float:right;">Sign Up</a>-->
        </div>
<div> 
    </ion-content>
</ion-view>
