<style type="text/css">
    .slider-slide-tab  span:last-child{
        border-radius: 10px;
        background:#ffffff;
        padding: 3px 8px;
        color: #ef473a;
        position: relative;
        bottom: 8px;
        left: 5px;
        font-weight: bold;
        box-shadow:0 0 1px #fff;
    }

</style>
<ion-view view-title="Products">
    <ion-content scroll="false" overflow-scroll="true">
        <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs bar-assertive>
            <ion-slide ion-slide-tab-label="All Products">
                <ion-view>
                    <ion-content>
                        <p ng-show="products.length == 0">No records found</p>
                        <ion-list>
                        <ion-item ng-repeat="product in products" class="item-avatar" ng-click="single_product(product.id)" style="border-bottom:1px solid #ccc">
                                <img src="img/bulb.png">
                            <b>{{product.name}}</b>
                      </ion-item>
                    </ion-list>
                    </ion-content>
                </ion-view>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Consumable">
                <ion-view>
                    <ion-content>
                        <p ng-show="products_consumable.length == 0">No records found</p>
                        <ion-list>
                            <ion-item ng-repeat="product in products_consumable" class="item-avatar" ng-click="single_product(product.id)" style="border-bottom:1px solid #ccc">
                            <img src="img/chandelier.jpg">
                            <b>{{product.name}}</b>
                      </ion-item>
                    </ion-list>
                    </ion-content>
                </ion-view>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Stockable">
                 <ion-view>
                    <ion-content>
                    <p ng-show="products_stockable.length == 0">No records found</p>
                        <ion-list>
                            <ion-item ng-repeat="product in products_stockable" class="item-avatar" ng-click="single_product(product.id)" style="border-bottom:1px solid #ccc">
                            <img src="img/bulb.png">
                            <b>{{product.name}}</b>
                      </ion-item>
                    </ion-list>
                    </ion-content>
                </ion-view>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>