<style type="text/css">
    .slider-slide-tab  span:last-child{
        border-radius: 10px;
        background:#ffffff;
        padding: 3px 8px;
        color: #ef473a;
        position: relative;
        bottom: 8px;
        left: 5px;
        font-weight: bold;
        box-shadow:0 0 1px #fff;
    }
</style>
<ion-view view-title="Suppliers">
    <ion-content scroll="false" overflow-scroll="true">
        <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs bar-assertive>
            <ion-slide ion-slide-tab-label="Invoices">
                <div ng-include src="'templates/suppliers/invoices.html'"></div>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Refunds">
                <div ng-include src="'templates/suppliers/refunds.html'"></div>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Receipts">
                <div ng-include src="'templates/suppliers/receipts.html'"></div>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Payments">
                <div ng-include src="'templates/suppliers/payments.html'"></div>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Suppliers">
                <div ng-include src="'templates/suppliers/suppliers.html'"></div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>