<style type="text/css">
    .slider-slide-tab  span:last-child{
        border-radius: 10px;
        background:#ffffff;
        padding: 3px 8px;
        color: #ef473a;
        position: relative;
        bottom: 8px;
        left: 5px;
        font-weight: bold;
        box-shadow:0 0 1px #fff;
    }


</style>
<ion-view view-title="Inventory Control">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical"  ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    <ion-content scroll="false" overflow-scroll="true">
        <ion-slide-box slide-tabs-scrollable="true"  show-pager="false" ion-slide-tabs bar-assertive>
            <ion-slide ion-slide-tab-label="Valuations">
                <ion-view>
                    <ion-content>
                       <ion-list>
                           <ion-item collection-repeat="inv in inventory" style="border-bottom: 1px solid #ccc">
                               <b>Product: {{inv.product_id[1]}}</b><p></p>
                               <small>Date: {{inv.date}}</small><p></p>
                               <small>Quantity: {{inv.quantity}}</small>
                           </ion-item>
                       </ion-list>
                    </ion-content>
                </ion-view>
            </ion-slide>
            <ion-slide ion-slide-tab-label="Adjustments">
                <ion-view>
                    <ion-content>
                        <ion-list>
                            <ion-item collection-repeat="adjustment in adjustments" style="border-bottom: 1px solid #ccc">
                                <b>Reference: {{adjustment.name}}</b><p></p>
                                <small>Date: {{adjustment.date}}</small><p></p>
                                <small>Status {{adjustment.state}}</small>
                            </ion-item>
                        </ion-list>
                    </ion-content>
                </ion-view>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>